<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="./_header.html"></th:block>
        <main>
            <aside>
                <!-- 카테고리 -->
                <ul class="category">
                    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                    <li>
                        <a href="#"><i class="fas fa-keyboard"></i>키보드</a> 
                        <ol>
                            <li><a href="/list.html">기계식(청축)</a></li>
                            <li><a href="/noname">기계식(적축)</a></li>
                            <li><a href="/noname">기계식(갈축)</a></li>
                            <li><a href="/noname">무선 키보드</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-mouse"></i>마우스</a>
                        <ol>
                            <li><a href="/noname">유선마우스</a></li>
                            <li><a href="/mouse/mouselist">무선마우스</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-headset"></i>헤드셋·이어폰</a>
                        <ol>
                            <li><a href="/noname">유선 헤드셋</a></li>
                            <li><a href="/noname">무선 헤드셋</a></li>
                            <li><a href="/noname">이어폰</a></li>
                            <li><a href="/noname">마이크</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-wrench"></i>악세사리</a>
                        <ol>
                            <li><a href="/noname">키보드</a></li>
                            <li><a href="/noname">마우스</a></li>
                            <li><a href="/noname">헤드셋·이어폰</a></li>
                            <li><a href="/noname">마이크</a></li>
                        </ol>
                    </li>
                </ul>

            </aside>
            <!-- 리스트 -->
            <section id="list">
               <nav>
                   <h1>유선키보드</h1>
                   <p>HOME > 키보드 > 기계식(청축)</p>
                </nav>
                <ul>
                    <li><a href="#">판매많은순</a></li>
                    <li><a href="#">낮은가격순</a></li>
                    <li><a href="#">높은가격순</a></li>
                    <li><a href="#">평점높은순</a></li>
                    <li><a href="#">후기많은순</a></li>
                    <li><a href="#">최근등록순</a></li>
                </ul>
               <section>
                   <article>
                    <ul>
                        <li>
                            <a href="/shop/view"><img src="../img/unnamed.jpg" alt="sample"></a>
                        </li>
                        <li>
                            <h3>파란색 키보드</h3>
                            <p><a href="/shop/view">좋은건 맞는데 나는 안써</a></p>
                        </li>
                        <li>
                         <div class="org_price">
                             <del>30,000</del>
                             <span>10%</span>
                         </div>
                         <div class="dis_price">
                             <ins>27,000</ins>
                         </div>
                         <div class="free_order">
                            <span>무료배송</span>
                         </div>
                        </li>
                        <li>
                            <h4><i class="fas fa-home" aria-hidden="true">블루키보드</i></h4>
                            <h5>파워딜러</h5>
                            <h6 class="rating star1">상품평</h6>
                        </li>
                    </ul>
                   </article>
               </section>
               <!-- 페이지 네비게이션 -->
               <div class="paging">
                <a href="#" class="prev">＜이전</a>
                <a href="#" class="num current">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="num">6</a>
                <a href="#" class="num">7</a>
                <a href="#" class="next">다음></a>
            </div>
            </section>
        </main>
	 <th:block th:include="./_footer.html"></th:block>
</html>