<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>준우마켓은 무엇을 팔까?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/style.css">

    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;
                    
                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="../User/login.html">로그인</a>
                    <a href="../User/register.html">회원가입</a>
                    <a href="#">마이페이지</a>
                    <a href="./cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="/Ppol/index.html"><img src="../img/linkedin_banner_image_logo.png" alt="로고"/></a>
                    <form action="#">
                        <input type="text" name="search"/>
                        <button><i class="fa fa-search"></i></button>
                    </form>                
                </div>
                
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li><a href="#">사용후기</a></li>
                        <li><a href="#">개인결제</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <aside>
                <!-- 카테고리 -->
                <ul class="category">
                    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                    <li>
                        <a href="#"><i class="fas fa-keyboard"></i>키보드</a> 
                        <ol>
                            <li><a href="./list.html">기계식(청축)</a></li>
                            <li><a href="./noname.html">기계식(적축)</a></li>
                            <li><a href="./noname.html">기계식(갈축)</a></li>
                            <li><a href="./noname.html">무선 키보드</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-mouse"></i>마우스</a>
                        <ol>
                            <li><a href="./noname.html">유선마우스</a></li>
                            <li><a href="./mouse/mouselist.html">무선마우스</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-headset"></i>헤드셋·이어폰</a>
                        <ol>
                            <li><a href="./noname.html">유선 헤드셋</a></li>
                            <li><a href="./noname.html">무선 헤드셋</a></li>
                            <li><a href="./noname.html">이어폰</a></li>
                            <li><a href="./noname.html">마이크</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-wrench"></i>악세사리</a>
                        <ol>
                            <li><a href="./noname.html">키보드</a></li>
                            <li><a href="./noname.html">마우스</a></li>
                            <li><a href="./noname.html">헤드셋·이어폰</a></li>
                            <li><a href="./noname.html">마이크</a></li>
                        </ol>
                    </li>
                </ul>
            </aside>
            <!-- 주문결제 -->
            <section id="order">
                <nav>
                    <h1>주문결제</h1>
                    <p>HOME > 장바구니 > 주문결제</p>
                 </nav>
                 <section>
                    <form action="#">
                        <div class="product">
                            <table>
                                <thead>
                                  <tr>
                                    <th>상품명</th>
                                    <th>총수량</th>
                                    <th>판매가</th>
                                    <th>배송비</th>
                                    <th>소계</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="empty">
                                    <td colspan="7">장바구니에 상품이 없습니다.</td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <article>
                                        <a href="#"><img src="../img/unnamed.jpg" alt=""></a>
                                        <div>
                                          <h2><a href="#">파란키보드</a></h2>
                                          <p>청축키보드</p>
                                        </div>
                                      </article>
                                    </td>
                                    <td>1</td>
                                    <td>27,000</td>
                                    <td>무료배송</td>
                                    <td>27,000</td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <article>
                                        <a href="#"><img src="../img/mousemouse.jpg" alt=""></a>
                                        <div>
                                          <h2><a href="#">마우스는 쥐가 맞아</a></h2>
                                          <p>무선마우스</p>
                                        </div>
                                      </article>
                                    </td>
                                    <td>1</td>
                                    <td>27,000</td>
                                    <td>무료배송</td>
                                    <td>27,000</td>
                                  </tr>
                                </tbody>
                              </table>                      
                        </div>
                        
                        <section>
                            <article class="delivery">
                              <h1>배송정보</h1>                          
                              <table>
                                <tbody><tr>
                                  <td>주문자</td>
                                  <td><input type="text" name="orderer"></td>
                                </tr>
                                <tr>
                                  <td>휴대폰</td>
                                  <td>
                                    <input type="text" name="hp">
                                    <span>- 포함 입력</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>우편번호</td>
                                  <td>
                                    <input type="text" id="sample6_postcode" placeholder="우편번호">
                                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                    <input type="text" id="sample6_address" placeholder="주소"><br>
                                    <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                                    <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            </article>
        
                            <article class="discount">
                                <h1>할인정보</h1>
        
                                <div>
                                    <p>현재 포인트 : <span>7200</span>점</p>
                                    <label>
                                        <input type="text" name="point">점
                                        <input type="button" value="적용">
                                    </label>
                                    <span>포인트 5,000점 이상이면 현금처럼 사용 가능합니다.</span>
                                </div>
                            </article>
        
                            <article class="payment">
                                <h1>결제방법</h1>
                                <div>
                                    <span>신용카드</span>
                                    <p>
                                        <label><input type="radio" name="payment" value="type1">신용카드 결제</label>
                                        <label><input type="radio" name="payment" value="type2">체크카드 결제</label>                                
                                    </p>
                                </div>
                                <div>
                                    <span>계좌이체</span>
                                    <p>
                                        <label><input type="radio" name="payment" value="type3">실시간 계좌이체</label>
                                        <label><input type="radio" name="payment" value="type4">무통장 입금</label>                                
                                    </p>
                                </div>
                                <div>
                                    <span>기타</span>
                                    <p>
                                        <label><input type="radio" name="payment" value="type3">휴대폰결제</label>
                                        <label>
                                            <input type="radio" name="payment" value="type4">카카오페이
                                            <img src="../img/ico_kakaopay.gif" alt="카카오페이">
                                        </label>                                
                                    </p>
                                </div>
                            </article>
        
                            <article class="alert">
                                <ul>
                                    <li><span>케이마켓의 모든 판매자는 안전거래를 위해 구매금액, 결제수단에 상관없이 모든거래에 대하여 케이마켓 유한책임회사의 구매안전서비스(에스크로)를 제공하고 있습니다.</span></li>
                                    <li><span>케이마켓 유한책임회사의 전자금융거래법에 의해 결제대금예치업 등록번호는 02-006-00008 입니다.</span></li>
                                    <li><span>등록여부는 금융감독원 홈페이지(www.fss.or.kr)의 업무자료&gt;인허가업무안내&gt;전자금융업등록현황에서 확인하실수 있습니다.</span></li>
                                </ul>
                            </article>
        
                            <div class="info">
                                <h2>최종결제 정보</h2>
                                <table border="0">
                                  <tbody><tr>
                                    <td>총</td>
                                    <td>2 건</td>
                                  </tr>
                                  <tr>
                                    <td>상품금액</td>
                                    <td>27,000</td>
                                  </tr>
                                  <tr>
                                    <td>할인금액</td>
                                    <td>-1,000</td>
                                  </tr>
                                  <tr>
                                    <td>배송비</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <td>포인트 할인</td>
                                    <td>-1000</td>
                                  </tr>
                                  <tr>
                                    <td>전체주문금액</td>
                                    <td>25,000</td>
                                  </tr>
                                </tbody>
                              </table>
                              <a href="./order_complete.html"><input type="button" name="" value="결제하기"></a>
                    
                              </div>
                        </section>                
                    </form>
                  </section>
            </section>
        </main>
        <footer>
            <ul>
              <li><a href="../introduction/hello.html">회사소개</a></li>
                <li><a href="#">서비스이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">전자금융거래약관</a></li>
            </ul>
            <div>
                <p><img src="../img/linkedin_banner_image_logo.png" alt="로고"></p>
                <p>
                  <strong>(주)준우마켓</strong><br />
                  부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)<br />
                  대표이사 : 홍길동<br />
                  사업자등록번호 : 220-81-83676 사업자정보확인<br />
                  통신판매업신고 : 강남 10630호 Fax : 02-589-8842
                </p>
                <p>
                  <strong>고객센터</strong><br />
                  Tel : 1234-5678 (평일 09:00~18:00)<br />
                  스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)<br />
                  경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층<br />
                  Fax : 051-123-4567 | Mail : jw@jw.co.kr<br />
                </p>
              </div>              
        </footer>
    </div>    
</body>
</html>