<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/_header.html"></th:block>
        <main>
            <aside>
                <!-- 카테고리 -->
                <ul class="category">
                    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                    <li>
                        <a href="#"><i class="fas fa-keyboard"></i>키보드</a> 
                        <ol>
                            <li><a href="/shop/list">기계식(청축)</a></li>
                            <li><a href="/shop/noname">기계식(적축)</a></li>
                            <li><a href="/shop/noname">기계식(갈축)</a></li>
                            <li><a href="/shop/noname">무선 키보드</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-mouse"></i>마우스</a>
                        <ol>
                            <li><a href="/shop/noname">유선마우스</a></li>
                            <li><a href="/shop/mouse/mouselist">무선마우스</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-headset"></i>헤드셋·이어폰</a>
                        <ol>
                            <li><a href="/shop/noname">유선 헤드셋</a></li>
                            <li><a href="/shop/noname">무선 헤드셋</a></li>
                            <li><a href="/shop/noname">이어폰</a></li>
                            <li><a href="/shop/noname">마이크</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-wrench"></i>악세사리</a>
                        <ol>
                            <li><a href="/shop/noname">키보드</a></li>
                            <li><a href="/shop/noname">마우스</a></li>
                            <li><a href="/shop/noname">헤드셋·이어폰</a></li>
                            <li><a href="/shop/noname">마이크</a></li>
                        </ol>
                    </li>
                </ul>

                <!-- 베스트상품 -->
                <article class="best" style="position: static; top: 0px;">
                    <h1><i class="fas fa-crown" area-hidden="true">"베스트상품"</i></h1>
                    <ol>
                        <li>
                            <a href="/shop/mouse/mousemouse">
                                <div class="thumb">
                                    <i>1</i>
                                    <img src="./img/mousemouse.jpg" alt="sample">
                                </div>
                                <h2>마우스는 쥐가 맞아</h2>
                                <div class="org_price">
                                    <del>30,000</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>27,000</ins>
                                </div>
                            </a>
                        </li>
                    </ol>
                </article>
            </aside>
            <section>
                <!-- 슬라이더 영역 -->
                <section class="slider">
                    <ul>
                        <li><a href="#"><img src="./img/slider1.jpg" alt="item1"></a></li>
                        <li><a href="#"><img src="./img/slider2.jpg" alt="item2"></a></li>
                    </ul>
                </section>
                <!-- 히트상품 영역 -->
                <article class="hit">
                    <h3><span>마우스</span></h3>
                    <div class="item">
                        <a href="./shop/mouse/mouseviper.html">
                            <div class="thumb">
                                <img src="./img/front_c4449_gz0jr.jpg" alt="sample">
                            </div>
                            <h2>판매자도 직접 쓰는 마우스</h2>
                            <p>헤어나오지 못해</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/shop/mouse/mouseviper">
                            <div class="thumb">
                                <img src="./img/front_c4449_gz0jr.jpg" alt="sample">
                            </div>
                            <h2>판매자도 직접 쓰는 마우스</h2>
                            <p>헤어나오지 못해</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/shop/mouse/mouseviper">
                            <div class="thumb">
                                <img src="./img/front_c4449_gz0jr.jpg" alt="sample">
                            </div>
                            <h2>판매자도 직접 쓰는 마우스</h2>
                            <p>헤어나오지 못해</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="./shop/mouse/mouseviper.html">
                            <div class="thumb">
                                <img src="./img/front_c4449_gz0jr.jpg" alt="sample">
                            </div>
                            <h2>판매자도 직접 쓰는 마우스</h2>
                            <p>헤어나오지 못해</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 추천상품 영역 -->
                <article class="recommend">
                    <h3><span>키보드</span></h3>
                    <div class="item">
                        <a href="#">
                            <div class="thumb">
                                <img src="./img/keyboard1_1.jpg" alt="sample">
                            </div>
                            <h2>피시방키보드피시방키보드피시방키보드피시방키보드피시방키보드</h2>
                            <p>어디서 봤더라 하면 생각나는 피시방 키보드 어디서 봤더라 하면 생각나는 피시방 키보드</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="thumb">
                                <img src="./img/keyboard1_1.jpg" alt="sample">
                            </div>
                            <h2>피시방키보드피시방키보드피시방키보드피시방키보드피시방키보드</h2>
                            <p>어디서 봤더라 하면 생각나는 피시방 키보드 어디서 봤더라 하면 생각나는 피시방 키보드</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="thumb">
                                <img src="./img/keyboard1_1.jpg" alt="sample">
                            </div>
                            <h2>피시방키보드피시방키보드피시방키보드피시방키보드피시방키보드</h2>
                            <p>어디서 봤더라 하면 생각나는 피시방 키보드 어디서 봤더라 하면 생각나는 피시방 키보드</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="thumb">
                                <img src="./img/keyboard1_1.jpg" alt="sample">
                            </div>
                            <h2>피시방키보드피시방키보드피시방키보드피시방키보드피시방키보드</h2>
                            <p>어디서 봤더라 하면 생각나는 피시방 키보드 어디서 봤더라 하면 생각나는 피시방 키보드</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 최신상품 영역 -->
                <article class="new">
                    <h3><span>헤드셋·이어폰</span></h3>
                    <div class="item">
                        <a href="./shop/mouse/mousemouse.html">
                            <div class="thumb">
                                <img src="./img/mousemouse.jpg" alt="sample">
                            </div>
                            <h2>마우스는 쥐가 맞아!!!마우스는 쥐가 맞아!!!</h2>
                            <p>귀엽다고 쓰다듬으면 휠누름 귀엽다고 쓰다듬으면 휠누름</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="./shop/mouse/mousemouse.html">
                            <div class="thumb">
                                <img src="./img/mousemouse.jpg" alt="sample">
                            </div>
                            <h2>마우스는 쥐가 맞아!!!마우스는 쥐가 맞아!!!</h2>
                            <p>귀엽다고 쓰다듬으면 휠누름 귀엽다고 쓰다듬으면 휠누름</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="./shop/mouse/mousemouse.html">
                            <div class="thumb">
                                <img src="./img/mousemouse.jpg" alt="sample">
                            </div>
                            <h2>마우스는 쥐가 맞아!!!마우스는 쥐가 맞아!!!</h2>
                            <p>귀엽다고 쓰다듬으면 휠누름 귀엽다고 쓰다듬으면 휠누름</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="./shop/mouse/mousemouse.html">
                            <div class="thumb">
                                <img src="./img/mousemouse.jpg" alt="sample">
                            </div>
                            <h2>마우스는 쥐가 맞아!!!마우스는 쥐가 맞아!!!</h2>
                            <p>귀엽다고 쓰다듬으면 휠누름 귀엽다고 쓰다듬으면 휠누름</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 할인상품 영역 -->
                <article class="discount">
                    <h3><span>악세사리</span></h3>
                    <div class="item">
                        <a href="/shop/list">
                            <div class="thumb">
                                <img src="./img/unnamed.jpg" alt="sample">
                            </div>
                            <h2>파란키보드 파란키보드</h2>
                            <p>판매자는 개인적으로 이거 맘에 안듬 판매자는 개인적으로 이거 맘에 안듬</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/shop/list">
                            <div class="thumb">
                                <img src="./img/unnamed.jpg" alt="sample">
                            </div>
                            <h2>파란키보드 파란키보드</h2>
                            <p>판매자는 개인적으로 이거 맘에 안듬 판매자는 개인적으로 이거 맘에 안듬</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/shop/list">
                            <div class="thumb">
                                <img src="./img/unnamed.jpg" alt="sample">
                            </div>
                            <h2>파란키보드 파란키보드</h2>
                            <p>판매자는 개인적으로 이거 맘에 안듬 판매자는 개인적으로 이거 맘에 안듬</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="./shop/list.html">
                            <div class="thumb">
                                <img src="./img/unnamed.jpg" alt="sample">
                            </div>
                            <h2>파란키보드 파란키보드</h2>
                            <p>판매자는 개인적으로 이거 맘에 안듬 판매자는 개인적으로 이거 맘에 안듬</p>
                            <div class="org_price">
                                <del>30,000</del>
                                <span>10%</span>
                            </div>
                            <div class="dis_price">
                                <ins>27,000</ins>
                                <span>무료배송</span>
                            </div>
                        </a>
                    </div>
                </article>
            </section>
        </main>
        <th:block th:include="/_footer.html"></th:block>
</html>